::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.navi {
    padding: 10px 30px;

}

.navbar-brand img {
    width: 100px;
    height: 30px;
}


.header-bg-img {
    background: url("../imgs/service-header-bg-img.jpg")no-repeat;
    background-size: auto;
    /* min-height: 600px; */
    background-position: bottom center;
    background-attachment: fixed;

}

.opacity {
    opacity: 0.8;
    background-color: #000000;
}

.header-text {
    /* justify-content: center; */
    margin: 90px 0;
    padding: 40px 0;
    color: #ffffff;
}

.header-text p {
    padding: 0 20px;
    font-size: 19px;
    margin: 10px 0;
}

.header-text h2 {
    font-size: 50px;
    padding: 10px 20px;
}

.header-text h1 {
    font-size: 50px;
    padding: 10px 20px;
}

.sec-2-txt h2 {
    font-weight: 700;
}

.sec-2-txt ul {
    padding: 0;
    margin: 0;
}

.sec-2-txt ul li {
    line-height: 36px;
    text-align: left;
    list-style: none;
    font-size: 20px;
}

.sec-2-txt ul li i {
    margin-right: 10px;
    color: #00C2C1;
}

.sec-2-img img {
    width: 100%;
    margin: 0 20px;
    padding: 0 80px;
}

a.vm{
    margin: 20px 0;
    border: 1px solid gray;
    padding: 8px 20px;
    color: gray;
    text-decoration: none;
}